tifffile==2025.5.10
scikit-image==0.20.0
pandas==2.3.1
numpy==1.23.5
connected-components-3d==3.24.0
Pillow==11.3.0
matplotlib==3.10.3
scipy==1.15.3
napari==0.4.18
PyQt5==5.15.11
gudhi==3.11.0
cellpose==2.3
